@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(1.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center; 
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 20px;
    cursor: pointer;
}

.logo img {
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: auto;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Sin fondo por defecto */
    z-index: 1000;
    transition: 0.3s ease-in-out;
}

/* Cuando hagas scroll, se agregará esta clase */
.navbar.scrolled {
    background: rgba(100, 98, 94, 0.2); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Efecto borroso */
}



.navbar-container {
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    display: flex;  /* Hace que los links estén en fila */
    gap: 52px;  /* Espaciado entre los links */
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.nav-links a:hover {
    color: #dfa273; /* Cambia el color al pasar el cursor */
}




.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #CE967B;
}

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 24px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.coffee {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffee-1 {
    padding: 0 25px;
}

.coffee-1 img {
    width: 200px;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;
}

.coffee-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(foto-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #EACCB3;
    font-size: 18px;
}

.general {
    display: flex;
}


.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}


.general-2 {
    background-image: url(e.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(t.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 42px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px; /* Tamaño más grande para el título */
    color: #333;
}

ol {
    font-size: 20px; /* Aumenta el tamaño de la lista */
    color: #333;
    padding-left: 0;  /* Elimina el padding izquierdo */
    margin-left: 0;   /* Elimina el margen izquierdo */
}

ol li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
    padding-left: 0;  /* Asegura que los elementos no tengan padding */
    text-align: left; /* Alinea el texto a la izquierda */
}

p {
    font-size: 22px;
    color: #414247;
}

.blog {
    padding: 100px 0;
    text-align: center;
}




.blog-content {
    display: flex;
    justify-content: space-between; /* Espacio entre las columnas */
}

.blog-1 {
    padding: 48px 58px;
    flex: 1; /* Las tres columnas ocupan el mismo espacio */
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding se cuente dentro del ancho total */
    margin: 5px;
}


.blog-1 img {
    width: 220px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 28px;
    color: #323337;
}

/* Contenedor del botón "Registrarse" */
.botones {
    display: flex;
    justify-content: center; /* Centra el botón */
    margin-top: 20px;
}

/* Estilos del botón "Registrarse" */
.btn-1 {
    display: inline-block;
    padding: 15px 100px; /* Aumenta el espacio interno */
    font-size: 18px;
    background-color: #d69c83;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
}


/* Efecto hover */
.btn-1:hover {
    background-color: #c0866f; /* Cambio de color al pasar el mouse */
}



/* Contenedor de los botones */
/* Contenedor de los botones */
.botones0 {
    display: flex;
    justify-content: center; /* Centra el botón dentro de su div */
    margin-top: 10px;
}

/* Estilos de los botones */
.btn-0 {
    display: inline-block; /* Asegura que se comporte como botón */
    padding: 12px 24px; /* Ajusta el relleno */
    font-size: 18px; /* Ajusta el tamaño del texto */
    background-color: #d69c83; /* Color más parecido al de la imagen */
    color: white;
    text-decoration: none;
    border-radius: 8px; /* Bordes redondeados */
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Efecto hover */
.btn-0:hover {
    background-color: #c0866f; /* Un tono más oscuro al pasar el mouse */
}





.footer {
    padding: 50px 0;
    background-color: #000000;
}


.marca-agua {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.8; /* Hace que se vea como marca de agua */
    font-size: 14px;
    font-weight: bold;
    color: gray;
    pointer-events: none; /* Evita que interfiera con clics */
}





@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .coffee {
        padding: 30px;
    }

    .coffee-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .coffee-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .coffee-img {
        display: none;
    }

    .services {
        padding: 30px;
    }
    
    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

}
